<form action="https://formspree.io/f/mjvnwloj" method="POST" class="contact-form">
    <div class="contact-form-input-element">
        <label for="fullname">Name: *</label>
        <input name="fullname" id="fullname" type="text" placeholder="Enter your full name" required>
    </div>
    <div class="contact-form-input-element">
        <label for="email">E-Mail: *</label>
        <input name="email" id="email" placeholder="Enter your email" required>
    </div>
    <div class="contact-form-input-element">
    <label for="message">Message: *</label>
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message" required></textarea>
    </div>
    <p style="font-size: small;">
    By submitting your message, you automatically agree to my <b>privacy policy</b>: I will use your data solely for initiating contact and will promptly delete it upon your request. You also automatically agree to the privacy policy of the contact-form provider <a href="https://formspree.io/">Formspree</a>.
    </p>
    <button type="submit">Send</button>
</form>

