<nav>
  <div class="horizontal-menu">
      <ul>
          <li><a href="/index.html" {% if page.nav-name == 'home' %}class='active'{% endif %}>Home</a></li>
          <li><a href="/Math.html" {% if page.nav-name == 'math' %}class='active'{% endif %}>Math</a></li>
          <li><a href="/Software.html" {% if page.nav-name == 'software' %}class='active'{% endif %}>Software</a></li>
          <li><a href="/Wolfram.html" {% if page.nav-name == 'wolfram' %}class='active'{% endif %}>Wolfram</a></li>
          <li><a href="/Hobbies.html" {% if page.nav-name == 'hobbies' %}class='active'{% endif %}>Hobbies</a></li>
          <li class="horizontal-menu-sep"><a href="/Posts.html" {% if page.nav-name == 'posts' %}class='active'{% endif %}>Posts</a></li>
      </ul>
  </div>
<div class="dropdown-menu">
            <button onclick="toggleHorizontalMenu()" class="dropdown-menu-button">Menu</button>
            <ul id="dropdown-menu-content" class="dropdown-menu-content">
              <li><a href="/index.html" {% if page.nav-name == 'home' %}class='active'{% endif %}>Home</a></li>
              <li><a href="/Math.html" {% if page.nav-name == 'math' %}class='active'{% endif %}>Math</a></li>
              <li><a href="/Software.html" {% if page.nav-name == 'software' %}class='active'{% endif %}>Software</a></li>
              <li><a href="/Wolfram.html" {% if page.nav-name == 'wolfram' %}class='active'{% endif %}>Wolfram</a></li>
              <li><a href="/Hobbies.html" {% if page.nav-name == 'hobbies' %}class='active'{% endif %}>Hobbies</a></li>
              <li class="horizontal-menu-sep"><a href="/Posts.html" {% if page.nav-name == 'posts' %}class='active'{% endif %}>Posts</a></li>
            </ul>
        </div>
</nav>
<script>
function toggleHorizontalMenu() {
  document.getElementById("dropdown-menu-content").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropdown-menu-button')) {
    var dropdowns = document.getElementsByClassName("dropdown-menu-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

